{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
  <form method="POST" action="/recipes">
    <p>
    <label for="name">Name</label>
    <input type="text" name="name" value="{{ recipe.name }}" />
    </p>

    <p>
    <label for="ingredients">Ingredients</label>
    <textarea name="ingredients">{{ recipe.print_ingredients() }}</textarea>
    </p>

    <p>
    <label for="steps">Steps</label>
    <textarea name="steps">{{ recipe.print_steps() }}</textarea>
    </p>

    <input type="submit" label="Create" />
  </form>
{% endblock %}
